In [33]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [49]:
#additional dependecies
import pandas as pd
#import datetime as dt

In [50]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [51]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [52]:
## D1: Determine the Summary Statistics for June

In [85]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
#  3. Convert the June temperatures to a list.

#import datetime
#import calendar

#year = 2017
#month = 6

#days = calendar.monthrange(year, month)[1]
#start_date = datetime.date(year, month, 1)
#end_date = datetime.date(year, month, num_days)

#results = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= start_date, Measurement.date <= end_date).all()
#print(results)


results = session.query(Measurement.date, Measurement.tobs).filter(func.strftime('%m', Measurement.date) == '06').all()
#print(results)

In [86]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df = pd.DataFrame(results, columns=['date','June Temps'])
#df

In [87]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

In [92]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
# 7. Convert the December temperatures to a list.
results = session.query(Measurement.date, Measurement.tobs).filter(func.strftime('%m', Measurement.date) == '12').all()
#print(results)

In [93]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df = pd.DataFrame(results, columns=['date','December Temps'])

In [94]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000